# 若要了解有关 .editorconfig 的详细信息，请参阅 https://aka.ms/editorconfigdocs
root = true
charset = utf-8

# All files
[*]
indent_style = space

# Xml files

# IDE0065: 错放了 using 指令
csharp_using_directive_placement = outside_namespace

[*.xml]
indent_size = 2
